version: '3.8'
services:
  postgres:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: database
    ports:
      - '5432:5432'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U user']
      interval: 30s
      timeout: 10s
      retries: 5

  backend:
    build:
      context: ./backend
    ports:
      - '4000:4000'
    depends_on:
      - postgres

  frontend:
    build:
      context: ./frontend
    ports:
      - '3000:3000'

  nginx:
    image: nginx:alpine
    ports:
      - '80:80'
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf

networks:
  default:
    driver: bridge
